<div style="margin-left: -157px;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="box-shadow: -12px 23px 178px rgb(58 59 69);">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef style="font-size: 20px;color: #1035e9; background-color: #dfdfe1;"> Cartas </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>


<div style="
margin-left: 880px;
margin-top: 61px;
font-size: 18px;">
    <span>Copyright © RH Software 2020</span>
</div>
